:root {
    --mainFont:'Cairo', sans-serif;
    --mainColor:#f1f5fb;
    --mainTrans:0.5s ease;
    --secColor:#999494;
    --thirdColor:rgb(0, 102, 255);
    --fourthColor:#fc9a03;
    --fivethColor:#00bb4f;
}
aside ul div.frame:nth-child(5)::before {
    width: 100%;
}
.container.new {
    display: grid;
    grid-template-columns: repeat(5 , 19%);
    justify-content: space-evenly;
    width: 100%;
    gap: 20px 0;
    background: var(--mainColor);
    padding-bottom: 40px;
}
.title.new {
    grid-column: 1 / 6;
    margin: 20px 0;
    font-size: 25px;
    padding-left: 20px;
}
.box {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.box img:first-of-type {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    border: 4px solid white;
}
.box img:last-of-type {
    filter: brightness(0.65);
    width: 100%;
    height: 225px;
    object-fit: cover;
}
.box img + div {
    padding: 5px 15px 30px 15px;
}
.box h3 {
    margin: 15px 0;
}
.box img + div p {
    font-size: 14px;
    font-weight: bold;
    color: var(--secColor);
}
.box div:last-of-type:not(.box div:last-of-type div) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: 2px solid #eee;
    color: var(--secColor);
    position: relative;
}
.box a {
    position: absolute;
    top: -25%;
    left: calc(50% - 48px);
    font-size: 13px;
    font-weight: bold;
}
.box div:last-of-type div {
    display: flex;
    align-items: center;
}
.box div:last-of-type i {
    margin-right: 10px;
}